.About {
  height: 100%;
  color: #354a3a;
}

.hero-wrapper {
  background-image: url('./images/IMG_2409.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 900px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.about-hero {
  background: rgba(196, 183, 165, 0.5);
  min-height: 900px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-title {
  font-family: 'Caveat', cursive;
  font-size: 72px;
  margin-top: 100px;
  margin-bottom: 0px;
  padding: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  margin: 10px;
  padding: 10px;
  background-color: #354a3a;
  color: #c4b7a5;
  font-weight: light;
  font-size: 18px;
  border-radius: 5px;
}

.about-content {
  background-color: #c4b7a5;
}

.about-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
  padding-left: 10%;
  padding-right: 10%;
}

.about-contact-header-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 50vw;
  height: 100%;
}

.about-contact-logo {
  font-size: 56px;
  align-self: center;
  margin: 20px 20px 20px 50px;
}

.about-contact-header {
  text-align: left;
  align-self: center;
}

.about-contact-header-h2 {
  font-family: 'Caveat', cursive;
  margin-bottom: 5px;
  font-size: 42px;
}

.about-contact-header-h3 {
  margin-top: 5px;
}

.about-contact-info-wrapper {
  width: 50vw;
  padding: 10px;
}

.about-contact-info {
  text-align: left;
  line-height: 25px;
}

.about-contact-info-logo {
  font-size: 18px;
}

.about-us-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
}

.about-us-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
}

.about-copy-right {
  width: 39%;
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
}

.about-copy-left {
  width: 39%;
  text-align: left;
  margin-right: 3%;
  margin-left: 3%;
}

.about-image-right {
  width: 45%;
}

.about-image-left {
  width: 45%;
}

@media only screen and (max-width: 600px) {
  .about-contact {
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
  }

  .about-contact-header-wrapper {
    width: 100vw;
  }

  .about-contact-logo {
    margin: 0px;
    margin-right: 20px;
  }

  .about-contact-info-wrapper {
    width: 100vw;
  }

}
