.App {
  text-align: center;
  background-color: #97c7a2;
  min-height: 100vh;
}

.header {
  background-color: #97c7a2;
  color: #4b6150;
}

.header-title {
  font-size: calc(14px + 2vmin);
}

.header-menu {
  font-size: calc(8px + 2vmin);
  color: #4b6150;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.body {
  height: 500px;
}
