.Ceremony {
  text-align: left;
  color: #c4b7a5;
  background-color: #4b6150;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.ceremony-wrapper {
  width: 70%;
  margin: 0% 15% 0% 15%;
}

.ceremony-h1 {
  font-family: 'Caveat', cursive;
  font-size: 72px;
}

.ceremony-copy {
  padding-bottom: 15px;
}

.rsvp-button {
  margin-left: 0px;
  padding: 10px;
  background-color: #354a3a;
  color: #c4b7a5;
  font-weight: light;
  font-size: 18px;
  border-radius: 5px;
}

.rsvp-button:hover {
  cursor: pointer;
}
