
  
  .hero {
      margin-bottom: 25px;
  }

  .home-h1 {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 35px;
  }

  .hero-image-wrapper {
      transform: rotate(-2deg);
  }

  .hero-image {
      filter: sepia(37%);
      opacity: .94;
      min-width: 300px;
      width: 45%;
      z-index: 0;
      position: relative;

  }

  .tape {
      width: 55%;
      margin-right: 22.5%;
      margin-left: 22.5%;
      margin-bottom: -25px;
      height: 50px;
      z-index: 1;
      position: relative;
      background-color: #dbd8be;
      opacity: .8;

  }

  .wedding {
      margin-top: 25px;
      margin-bottom: 25px;
  }

  .reception {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .details {
    text-align: center;
  }

  .copy-wrapper {
      padding-left: 20px;
      padding-right: 20px;
      text-align: left;
  }

  .copy {
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: justify;
  }

  p {
      margin-top: 5px;
      margin-bottom: 5px;
  }

  
  