.Registry {
  text-align: left;
  color: #c4b7a5;
  background-color: #4b6150;
  width: 100%;
  height: 98%;
  overflow-y: scroll;
}

.registry-wrapper {
  width: 70%;
  padding-top: 5%;
  margin: 0% 15% 5% 15%
}

.registry-list {

}

.registry-list-item {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.registry-list-copy {
  margin-top: 5px;
  margin-bottom: 20px;
}
