.Rsvp {
  text-align: left;
  color: #c4b7a5;
  background-color: #4b6150;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.rsvp-wrapper {
  width: 70%;
  margin: 0% 15% 5% 15%
}

.rsvp-h1 {
  font-family: 'Caveat', cursive;
  font-size: 72px;
}

.rsvp-section {

}

.rsvp-input-wrapper {
  display: flex;
  justify-content: flex-start;
}

.rsvp-input-label {
  width: 40%;
  max-width: 130px;
  padding-left: 10px;
}

.rsvp-input {
  width: 100%;
  max-width: 300px;
}

.rsvp-radio-wrapper {
  margin-bottom: 25px;
  padding-left: 10px;
}

.hidden {
  display: none;
}
