p {
    text-align: justify;
}

h4 {
    text-align: left;
}

.travel-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.travel-content-key {
    padding: 5px;
    margin: 5px;
    width: 120px;
}

.travel-content-value {
    padding: 5px;
    margin: 0;
    text-align: left;
}

.text-block {
    margin: 0px 0px 0px 15px;
}
